/* Active Admin CSS */
/* line 1, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
span.icon {
  vertical-align: middle;
  display: inline-block;
}

/* line 2, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
span.icon svg {
  vertical-align: baseline;
}

/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
span.icon {
  width: 0.8em;
  height: 0.8em;
}

/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
span.icon svg {
  width: 0.8em;
  height: 0.8em;
}

/* line 44, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 47, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 49, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 51, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 53, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_reset.scss */
q, blockquote {
  quotes: "" "";
}
/* line 126, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 57, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_reset.scss */
a img {
  border: none;
}

/* line 27, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
html {
  font-size: 100.01%;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
body {
  font-size: 75%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 31, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #5e6469;
}
/* line 34, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 37, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 39, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 40, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 41, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 42, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 45, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 49, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 52, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.left {
  float: left !important;
}

/* line 53, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.right {
  float: right !important;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/* line 56, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 57, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 58, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 61, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
}

/* line 62, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 63, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
del {
  color: #666;
}

/* line 65, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 66, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

/* line 70, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
li ul,
li ol {
  margin: 0;
}

/* line 71, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 73, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 74, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 77, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 81, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 82, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
th {
  font-weight: bold;
}

/* line 83, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 87, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 88, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 89, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.hide {
  display: none;
}

/* line 91, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.quiet {
  color: #666;
}

/* line 92, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.loud {
  color: #000;
}

/* line 93, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.highlight {
  background: #ff0;
}

/* line 94, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.added {
  background: #060;
  color: #fff;
}

/* line 95, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.removed {
  background: #900;
  color: #fff;
}

/* line 97, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 98, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 99, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 100, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_typography.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 2, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header {
  background: #6a7176;
  background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
  background: -moz-linear-gradient(-90deg, #6a7176, #4d5256);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  border-bottom: 1px solid #44484b;
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: black 0 1px 0;
  padding: 9px 30px;
  position: relative;
  z-index: 900;
}
/* line 10, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header h1 {
  display: inline;
  color: #cdcdcd;
  margin-right: 20px;
  font-size: 1.3em;
  font-weight: normal;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header a, #header a:link {
  color: #cdcdcd;
}
/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs {
  margin: 0;
  padding: 0;
  display: inline;
  height: 100%;
}
/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li {
  display: inline;
  margin-right: 4px;
  padding: 9px 0;
  font-size: 1.0em;
  position: relative;
  /* Hover on li, display the ul */
  /* Drop down menus */
}
/* line 33, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li a {
  text-decoration: none;
  padding: 6px 10px 4px 10px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 40, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li.current > a {
  background: #7b8389;
  color: #fff;
}
/* line 45, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li.has_nested > a {
  background: url("/images/active_admin/nested_menu_arrow.gif") no-repeat 89% 50%;
  padding-right: 20px;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li.has_nested.current > a {
  background: #7b8389 url("/images/active_admin/nested_menu_arrow_dark.gif") no-repeat 89% 50%;
  padding-right: 20px;
}
/* line 55, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li:hover > a {
  background: #7b8389;
  color: #fff;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li.has_nested:hover > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  z-index: 800;
  border-bottom: 5px solid #7b8389;
  background: #7b8389 url("/images/active_admin/nested_menu_arrow_dark.gif") no-repeat 89% 50%;
}
/* line 69, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li:hover ul {
  display: block;
}
/* line 71, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li ul {
  background: #7b8389;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  box-shadow: 0 1px 3px #444444;
  -moz-box-shadow: 0 1px 3px #444444;
  -webkit-box-shadow: 0 1px 3px #444444;
  position: absolute;
  width: 175px;
  margin-top: 4px;
  float: left;
  display: none;
  padding: 3px 0px 5px 0;
}
/* line 82, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li ul li {
  margin: 0px;
}
/* line 84, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li ul li a {
  background: none;
  display: block;
}
/* line 87, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li ul li a:hover {
  color: #fff;
  background: none;
}
/* line 91, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header ul#tabs li ul li.current a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 99, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header #utility_nav {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #aaa;
}
/* line 102, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header #utility_nav span, #header #utility_nav a {
  margin-left: 10px;
}
/* line 104, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header #utility_nav a {
  text-decoration: none;
}
/* line 105, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_header.scss */
#header #utility_nav a:hover {
  color: #fff;
}

/* line 2, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form {
  /* Reset margins & Padding */
  /* Nested Fieldsets and Legends */
  /* Text Fields */
  /* Buttons */
}
/* line 4, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form ul, form ol, form li, form fieldset, form legend, form input, form textarea, form select, form p {
  margin: 0;
  padding: 0;
}
/* line 5, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form ol, form ul {
  list-style: none;
}
/* line 7, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset {
  border: 0;
  padding: 10px 0;
  margin-bottom: 20px;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset.inputs {
  background: #f4f4f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #dddddd;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
}
/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset legend {
  width: 100%;
}
/* line 16, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset legend span {
  display: block;
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5e6469;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form fieldset legend span span.icon svg path, form fieldset legend span span.icon svg polygon, form fieldset legend span span.icon svg rect, form fieldset legend span span.icon svg circle {
  fill: #5e6469 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form fieldset legend span span.icon {
  width: 1em;
  height: 1em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form fieldset legend span span.icon svg {
  width: 1em;
  height: 1em;
}
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
form fieldset legend span span.icon {
  margin-right: 5px;
}
/* line 19, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset ol > li {
  padding: 10px;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset ol > li label {
  display: block;
  width: 20%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5e6469;
}
/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset ol > li label abbr {
  border: none;
  color: #aaa;
}
/* line 33, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset ol > li > li label {
  line-height: 100%;
  padding-top: 0;
}
/* line 36, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset ol > li > li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}
/* line 46, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li fieldset {
  position: relative;
  padding: 0;
  margin-bottom: 0;
}
/* line 51, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li fieldset legend {
  position: absolute;
  width: 95%;
  padding-top: 0.1em;
  left: 0px;
  font-size: 100%;
  font-weight: normal;
}
/* line 58, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li fieldset legend span {
  position: absolute;
}
/* line 59, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li fieldset legend.label label {
  position: absolute;
}
/* line 62, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 20%;
}
/* line 68, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li fieldset ol li {
  padding: 0;
  border: 0;
}
/* line 77, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form input[type=text], form input[type=password], form input[type=email], form input[type=url], form input[type=tel], form textarea {
  width: 76%;
  border: 1px solid #c9d0d6;
  font-size: 0.95em;
  outline: none;
  padding: 8px 10px;
}
/* line 84, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, form input[type=url]:focus, form input[type=tel]:focus, form textarea:focus {
  border: 1px solid #99a2aa;
  box-shadow: 0 0 4px #99a2aa;
  -moz-box-shadow: 0 0 4px #99a2aa;
  -webkit-box-shadow: 0 0 4px #99a2aa;
}
/* line 90, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li {
  /* Hints */
  /* Date and Time Fields */
  /* Check Boxes or Radio fields */
  /* Boolean Field */
  /* Errors */
}
/* line 93, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li p.inline-hints {
  font-size: 0.95em;
  font-style: italic;
  color: #666;
  margin: 0.5em 0 0 20%;
}
/* line 102, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.date fieldset ol li, form fieldset > ol > li.time fieldset ol li, form fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 0.5em 0 0;
}
/* line 104, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.date fieldset ol li label, form fieldset > ol > li.time fieldset ol li label, form fieldset > ol > li.datetime fieldset ol li label {
  display: none;
}
/* line 105, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.date fieldset ol li input, form fieldset > ol > li.time fieldset ol li input, form fieldset > ol > li.datetime fieldset ol li input {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 111, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.check_boxes fieldset ol, form fieldset > ol > li.radio fieldset ol {
  margin-bottom: -0.6em;
}
/* line 113, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.check_boxes fieldset ol li, form fieldset > ol > li.radio fieldset ol li {
  margin: 0.1em 0 0.5em 0;
}
/* line 115, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.check_boxes fieldset ol li label, form fieldset > ol > li.radio fieldset ol li label {
  float: none;
  width: 100%;
}
/* line 118, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.check_boxes fieldset ol li label input, form fieldset > ol > li.radio fieldset ol li label input {
  margin-right: 0.2em;
}
/* line 125, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.boolean {
  height: 1.1em;
}
/* line 127, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.boolean label {
  width: 100%;
  padding-left: 20%;
  padding-right: 10px;
  text-transform: none !important;
  font-weight: normal;
}
/* line 133, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}
/* line 137, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.hidden {
  display: none;
}
/* line 140, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li p.inline-errors {
  text-transform: capitalize;
  color: #cc0000;
  margin: 0.5em 0 0 20%;
}
/* line 145, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 20%;
  list-style: square;
}
/* line 149, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 153, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset > ol > li.error input[type=text], form fieldset > ol > li.error input[type=password], form fieldset > ol > li.error input[type=email], form fieldset > ol > li.error input[type=url], form fieldset > ol > li.error input[type=tel], form fieldset > ol > li.error textarea {
  border: 1px solid #cc0000;
}
/* line 160, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form input[type=submit] {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;
  color: #efefef;
}
/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form input[type=submit]:hover {
  color: #fff;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form input[type=submit]:hover span.icon svg path, form input[type=submit]:hover span.icon svg polygon, form input[type=submit]:hover span.icon svg rect, form input[type=submit]:hover span.icon svg circle {
  fill: white !important;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form input[type=submit]:active {
  box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
}
/* line 161, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
  padding-top: 0;
}
/* line 165, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset.buttons li.cancel {
  margin-left: 0.3em;
  padding: 5px;
}
/* line 165, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_forms.scss */
form fieldset.buttons li.cancel a {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;
  color: #efefef;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dddbdb));
  background: -moz-linear-gradient(-90deg, #f9f9f9, #dddbdb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  text-shadow: white 0 1px 0;
  color: #777;
}
/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form fieldset.buttons li.cancel a:hover {
  color: #fff;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form fieldset.buttons li.cancel a:hover span.icon svg path, form fieldset.buttons li.cancel a:hover span.icon svg polygon, form fieldset.buttons li.cancel a:hover span.icon svg rect, form fieldset.buttons li.cancel a:hover span.icon svg circle {
  fill: white !important;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form fieldset.buttons li.cancel a:active {
  box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
}
/* line 23, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form fieldset.buttons li.cancel a:hover {
  color: #444;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form fieldset.buttons li.cancel a:hover span.icon svg path, form fieldset.buttons li.cancel a:hover span.icon svg polygon, form fieldset.buttons li.cancel a:hover span.icon svg rect, form fieldset.buttons li.cancel a:hover span.icon svg circle {
  fill: #444444 !important;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form fieldset.buttons li.cancel a:active {
  box-shadow: inset 0 1px 2px #aaaaaa;
  -moz-box-shadow: inset 0 1px 2px #aaaaaa;
  -webkit-box-shadow: inset 0 1px 2px #aaaaaa;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form fieldset.buttons li.cancel a span.icon svg path, form fieldset.buttons li.cancel a span.icon svg polygon, form fieldset.buttons li.cancel a span.icon svg rect, form fieldset.buttons li.cancel a span.icon svg circle {
  fill: #777777 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form fieldset.buttons li.cancel a span.icon {
  width: 9px;
  height: 9px;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form fieldset.buttons li.cancel a span.icon svg {
  width: 9px;
  height: 9px;
}

/* line 4, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_comments.scss */
.comments .active_admin_comment {
  clear: both;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 700px;
}
/* line 10, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_comments.scss */
.comments .active_admin_comment .active_admin_comment_meta {
  width: 130px;
  float: left;
  font-size: 0.9em;
  color: #767e84;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_comments.scss */
.comments .active_admin_comment .active_admin_comment_meta .active_admin_comment_author {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  color: #5e6469;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_comments.scss */
.comments .active_admin_comment .active_admin_comment_body {
  margin-left: 150px;
}
/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_comments.scss */
.comments form.active_admin_comment {
  margin: 0;
  padding: 0;
  margin-left: 150px;
}
/* line 31, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_comments.scss */
.comments form.active_admin_comment fieldset.inputs {
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 37, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_comments.scss */
.comments form.active_admin_comment li {
  padding: 0;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_comments.scss */
.comments form.active_admin_comment fieldset.buttons {
  padding: 0;
  margin-top: 5px;
}

/* line 1, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_flash_messages.scss */
.flash {
  background: #6a7176;
  background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
  background: -moz-linear-gradient(-90deg, #6a7176, #4d5256);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  border-bottom: 1px solid #44484b;
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: #222222 0 1px 0;
  border: none;
  font-weight: bold;
  padding: 10px 10px 8px 10px;
  margin-bottom: 10px;
  color: #fff;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_flash_messages.scss */
.flash.flash_notice {
  background: #87a28b;
  background: -webkit-gradient(linear, left top, left bottom, from(#87a28b), to(#657b6a));
  background: -moz-linear-gradient(-90deg, #87a28b, #657b6a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#87a28b, endColorstr=#657b6a);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#87a28b, endColorstr=#657b6a);
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/_flash_messages.scss */
.flash.flash_error {
  background: #ca5b4f;
  background: -webkit-gradient(linear, left top, left bottom, from(#ca5b4f), to(#97443c));
  background: -moz-linear-gradient(-90deg, #ca5b4f, #97443c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ca5b4f, endColorstr=#97443c);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ca5b4f, endColorstr=#97443c);
}

/* line 16, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 72%;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #323537;
}

/* line 27, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#title_bar {
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5e6469;
  position: relative;
  margin: 0;
  padding: 10px 30px;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar span.icon svg path, #title_bar span.icon svg polygon, #title_bar span.icon svg rect, #title_bar span.icon svg circle {
  fill: #5e6469 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar span.icon {
  width: 1em;
  height: 1em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar span.icon svg {
  width: 1em;
  height: 1em;
}
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
#title_bar span.icon {
  margin-right: 5px;
}
/* line 33, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#title_bar h2 {
  margin: 12px 0 5px 0;
  padding: 0;
  font-size: 2.6em;
  font-weight: bold;
}
/* line 40, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#title_bar .action_items {
  position: absolute;
  right: 30px;
  top: 28px;
}
/* line 45, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#title_bar .action_items a {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;
  color: #efefef;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dddbdb));
  background: -moz-linear-gradient(-90deg, #f9f9f9, #dddbdb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  text-shadow: white 0 1px 0;
  color: #777;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dddbdb));
  background: -moz-linear-gradient(-90deg, #f9f9f9, #dddbdb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  padding: .8em 1.5em .7em 1.5em;
  border: 1px solid #f8f8f8;
}
/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
#title_bar .action_items a:hover {
  color: #fff;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar .action_items a:hover span.icon svg path, #title_bar .action_items a:hover span.icon svg polygon, #title_bar .action_items a:hover span.icon svg rect, #title_bar .action_items a:hover span.icon svg circle {
  fill: white !important;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
#title_bar .action_items a:active {
  box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
}
/* line 23, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
#title_bar .action_items a:hover {
  color: #444;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar .action_items a:hover span.icon svg path, #title_bar .action_items a:hover span.icon svg polygon, #title_bar .action_items a:hover span.icon svg rect, #title_bar .action_items a:hover span.icon svg circle {
  fill: #444444 !important;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
#title_bar .action_items a:active {
  box-shadow: inset 0 1px 2px #aaaaaa;
  -moz-box-shadow: inset 0 1px 2px #aaaaaa;
  -webkit-box-shadow: inset 0 1px 2px #aaaaaa;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar .action_items a span.icon svg path, #title_bar .action_items a span.icon svg polygon, #title_bar .action_items a span.icon svg rect, #title_bar .action_items a span.icon svg circle {
  fill: #777777 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar .action_items a span.icon {
  width: 0.8em;
  height: 0.8em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar .action_items a span.icon svg {
  width: 0.8em;
  height: 0.8em;
}
/* line 51, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#title_bar .action_items a span.icon {
  vertical-align: bottom;
  margin-right: 4px;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
#title_bar .action_items a:hover span.icon svg path, #title_bar .action_items a:hover span.icon svg polygon, #title_bar .action_items a:hover span.icon svg rect, #title_bar .action_items a:hover span.icon svg circle {
  fill: black !important;
}
/* line 53, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#title_bar .action_items a:active {
  border: inherit;
}

/* line 59, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#active_admin_content {
  margin: 0;
  padding: 25px 30px;
}
/* line 63, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#active_admin_content #main_content_wrapper {
  float: left;
  width: 100%;
}
/* line 67, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#active_admin_content #main_content_wrapper #main_content {
  margin-right: 300px;
}
/* line 72, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#active_admin_content.without_sidebar #main_content_wrapper #main_content {
  margin-right: 0;
}
/* line 74, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#active_admin_content #sidebar {
  float: left;
  width: 270px;
  margin-left: -270px;
}

/* line 82, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#footer {
  padding: 30px 30px;
  font-size: 0.8em;
  clear: both;
}
/* line 87, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#footer p {
  padding-top: 10px;
}

/* line 93, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
a, a:link, a:visited {
  color: #38678b;
  text-decoration: underline;
}

/* line 97, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
a:hover {
  text-decoration: none;
}

/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
td span.icon svg path, td span.icon svg polygon, td span.icon svg rect, td span.icon svg circle, p span.icon svg path, p span.icon svg polygon, p span.icon svg rect, p span.icon svg circle {
  fill: #b3bcc1 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
td span.icon, p span.icon {
  width: 0.8em;
  height: 0.8em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
td span.icon svg, p span.icon svg {
  width: 0.8em;
  height: 0.8em;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
td span.icon, p span.icon {
  margin: 0 3px;
}

/* line 106, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
a.view_link, a.edit_link, a.delete_link {
  margin-right: 7px;
  white-space: nowrap;
}

/* line 111, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
a.button, input[type=submit] {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;
  color: #efefef;
}
/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
a.button:hover, input[type=submit]:hover {
  color: #fff;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
a.button:hover span.icon svg path, a.button:hover span.icon svg polygon, a.button:hover span.icon svg rect, a.button:hover span.icon svg circle, input[type=submit]:hover span.icon svg path, input[type=submit]:hover span.icon svg polygon, input[type=submit]:hover span.icon svg rect, input[type=submit]:hover span.icon svg circle {
  fill: white !important;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
a.button:active, input[type=submit]:active {
  box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
}

/* line 114, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.breadcrumb {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: normal;
}
/* line 119, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.breadcrumb a, .breadcrumb a:link {
  color: #8a949e;
  text-decoration: none;
}
/* line 124, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.breadcrumb a:hover {
  text-decoration: underline;
}
/* line 126, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.breadcrumb .breadcrumb_sep {
  margin: 0 2px;
  color: #aab2ba;
}

/* line 134, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.section, .panel {
  background: #f4f4f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #dddddd;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
  margin-bottom: 20px;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
.section h3, .panel h3 {
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5e6469;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.section h3 span.icon svg path, .section h3 span.icon svg polygon, .section h3 span.icon svg rect, .section h3 span.icon svg circle, .panel h3 span.icon svg path, .panel h3 span.icon svg polygon, .panel h3 span.icon svg rect, .panel h3 span.icon svg circle {
  fill: #5e6469 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.section h3 span.icon, .panel h3 span.icon {
  width: 1em;
  height: 1em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.section h3 span.icon svg, .panel h3 span.icon svg {
  width: 1em;
  height: 1em;
}
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
.section h3 span.icon, .panel h3 span.icon {
  margin-right: 5px;
}
/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
.section > div, .panel > div {
  padding: 3px 15px 15px 15px;
}

/* line 137, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  border-spacing: 0;
}
/* line 144, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table th {
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5e6469;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
table th span.icon svg path, table th span.icon svg polygon, table th span.icon svg rect, table th span.icon svg circle {
  fill: #5e6469 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
table th span.icon {
  width: 1em;
  height: 1em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
table th span.icon svg {
  width: 1em;
  height: 1em;
}
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
table th span.icon {
  margin-right: 5px;
}
/* line 150, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table th a, table th a:link, table th a:visited {
  color: #5e6469;
  text-decoration: none;
  display: block;
}
/* line 156, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table th.sortable a {
  background: url("/images/active_admin/orderable.png") no-repeat 0 4px;
  padding-left: 13px;
}
/* line 160, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table th.sorted-asc a {
  background-position: 0 -27px;
}
/* line 161, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table th.sorted-desc a {
  background-position: 0 -56px;
}
/* line 163, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table th.sorted-asc, table th.sorted-desc {
  background: #e2e2e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#d2d4d6));
  background: -moz-linear-gradient(-90deg, #e2e2e2, #d2d4d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e2e2e2, endColorstr=#d2d4d6);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e2e2e2, endColorstr=#d2d4d6);
  border-bottom: 1px solid #dfe1e2;
}
/* line 169, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table tr.even td {
  background: #f4f5f5;
}
/* line 171, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table td {
  padding: 10px 12px 8px 12px;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: top;
}

/* line 180, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.panel_contents table {
  margin-top: 5px;
}
/* line 182, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.panel_contents table th {
  padding-top: 10px;
  background: none;
  color: #5e6469;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: white 0 1px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}
/* line 191, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.panel_contents table tr.odd td {
  background: #ecedee;
}
/* line 192, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.panel_contents table tr.even td {
  background: #f4f5f5;
}

/* line 196, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.sidebar_section {
  background: #f4f4f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #dddddd;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
  margin-bottom: 20px;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
.sidebar_section h3 {
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5e6469;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.sidebar_section h3 span.icon svg path, .sidebar_section h3 span.icon svg polygon, .sidebar_section h3 span.icon svg rect, .sidebar_section h3 span.icon svg circle {
  fill: #5e6469 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.sidebar_section h3 span.icon {
  width: 1em;
  height: 1em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.sidebar_section h3 span.icon svg {
  width: 1em;
  height: 1em;
}
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
.sidebar_section h3 span.icon {
  margin-right: 5px;
}
/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
.sidebar_section > div {
  padding: 3px 15px 15px 15px;
}

/* line 199, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.pagination_information {
  float: right;
  margin-bottom: 5px;
  font-size: 0.95em;
  color: #b3bcc1;
}
/* line 204, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.pagination_information b {
  color: #5c6469;
}

/* line 208, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
#index_footer {
  padding-top: 5px;
  text-align: right;
  font-size: 0.85em;
}

/* line 210, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.pagination {
  display: inline;
  font-size: 0.9;
  margin-left: 10px;
}
/* line 215, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.pagination a {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;
  color: #efefef;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dddbdb));
  background: -moz-linear-gradient(-90deg, #f9f9f9, #dddbdb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  text-shadow: white 0 1px 0;
  color: #777;
}
/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
.pagination a:hover {
  color: #fff;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.pagination a:hover span.icon svg path, .pagination a:hover span.icon svg polygon, .pagination a:hover span.icon svg rect, .pagination a:hover span.icon svg circle {
  fill: white !important;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
.pagination a:active {
  box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
}
/* line 23, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
.pagination a:hover {
  color: #444;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.pagination a:hover span.icon svg path, .pagination a:hover span.icon svg polygon, .pagination a:hover span.icon svg rect, .pagination a:hover span.icon svg circle {
  fill: #444444 !important;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
.pagination a:active {
  box-shadow: inset 0 1px 2px #aaaaaa;
  -moz-box-shadow: inset 0 1px 2px #aaaaaa;
  -webkit-box-shadow: inset 0 1px 2px #aaaaaa;
}
/* line 216, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.pagination em {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;
  color: #efefef;
}
/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
.pagination em:hover {
  color: #fff;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
.pagination em:hover span.icon svg path, .pagination em:hover span.icon svg polygon, .pagination em:hover span.icon svg rect, .pagination em:hover span.icon svg circle {
  fill: white !important;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
.pagination em:active {
  box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
}
/* line 217, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.pagination a, .pagination em {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-right: 4px;
  padding: 2px 5px;
}
/* line 222, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.pagination .previous_page, .pagination .next_page {
  display: none;
}

/* line 226, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.index_content {
  clear: both;
}

/* line 229, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table.index_grid td {
  border: none;
  background: none;
  padding: 0 20px 20px 0;
  margin: 0;
}

/* line 234, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .buttons {
  margin-top: 15px;
}
/* line 236, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .buttons input[type=submit] {
  margin-right: 10px;
}
/* line 238, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .filter_form_field {
  margin-bottom: 10px;
  clear: both;
}
/* line 243, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .filter_form_field label {
  display: block;
  text-transform: uppercase;
  color: #5e6469;
  font-size: 0.9em;
  font-weight: bold;
}
/* line 250, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .filter_form_field .datepicker {
  width: 80px;
}
/* line 251, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .filter_form_field.filter_numeric input[type=text] {
  width: 80px;
  margin-left: 5px;
}
/* line 253, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .filter_form_field.filter_check_boxes label {
  margin-bottom: 3px;
}
/* line 254, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .filter_form_field.filter_check_boxes .check_boxes_wrapper label {
  font-weight: normal;
  margin-bottom: 3px;
  text-transform: none;
  font-size: 1.0em;
}
/* line 259, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form .filter_form_field.filter_check_boxes .check_boxes_wrapper label input {
  vertical-align: baseline;
}
/* line 263, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
form a.clear_filters_btn {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-shadow: black 0 1px 0;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  cursor: pointer;
  padding: .6em 1.4em .5em 1.3em;
  border: none;
  color: #efefef;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dddbdb));
  background: -moz-linear-gradient(-90deg, #f9f9f9, #dddbdb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  text-shadow: white 0 1px 0;
  color: #777;
}
/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form a.clear_filters_btn:hover {
  color: #fff;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form a.clear_filters_btn:hover span.icon svg path, form a.clear_filters_btn:hover span.icon svg polygon, form a.clear_filters_btn:hover span.icon svg rect, form a.clear_filters_btn:hover span.icon svg circle {
  fill: white !important;
}
/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form a.clear_filters_btn:active {
  box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black;
}
/* line 23, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form a.clear_filters_btn:hover {
  color: #444;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
form a.clear_filters_btn:hover span.icon svg path, form a.clear_filters_btn:hover span.icon svg polygon, form a.clear_filters_btn:hover span.icon svg rect, form a.clear_filters_btn:hover span.icon svg circle {
  fill: #444444 !important;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_buttons.scss */
form a.clear_filters_btn:active {
  box-shadow: inset 0 1px 2px #aaaaaa;
  -moz-box-shadow: inset 0 1px 2px #aaaaaa;
  -webkit-box-shadow: inset 0 1px 2px #aaaaaa;
}

/* line 268, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out {
  background: #e8e9ea;
}
/* line 271, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out #content_wrapper {
  width: 500px;
  margin: 70px auto;
}
/* line 274, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out #content_wrapper #active_admin_content {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #fff;
  padding: 13px 30px;
}
/* line 281, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out h2 {
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5e6469;
  background: #6a7176;
  background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
  background: -moz-linear-gradient(-90deg, #6a7176, #4d5256);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  border-bottom: 1px solid #44484b;
  text-shadow: black 0 1px 0;
  color: #fff;
  margin: -13px -30px 20px -30px;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
body.logged_out h2 span.icon svg path, body.logged_out h2 span.icon svg polygon, body.logged_out h2 span.icon svg rect, body.logged_out h2 span.icon svg circle {
  fill: #5e6469 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
body.logged_out h2 span.icon {
  width: 1em;
  height: 1em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
body.logged_out h2 span.icon svg {
  width: 1em;
  height: 1em;
}
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
body.logged_out h2 span.icon {
  margin-right: 5px;
}
/* line 289, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out .flash {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: white 0 1px 0;
  padding: 0;
  color: #666;
  background: none;
}
/* line 297, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out #login {
  /* Login Form */
}
/* line 300, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out #login form fieldset {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
  padding: 0;
  margin-bottom: 0;
}
/* line 304, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out #login form fieldset li {
  padding: 10px 0;
}
/* line 306, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out #login form fieldset input[type=text], body.logged_out #login form fieldset input[type=email], body.logged_out #login form fieldset input[type=password] {
  width: 70%;
}
/* line 309, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out #login form fieldset.buttons {
  margin-left: 20%;
}
/* line 314, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
body.logged_out #login a {
  float: right;
  margin-top: -32px;
}

/* line 320, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.ui-datepicker {
  background: #6a7176;
  background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
  background: -moz-linear-gradient(-90deg, #6a7176, #4d5256);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  border-bottom: 1px solid #44484b;
  padding: 5px 5px 0 5px;
  color: #fff;
  display: none;
}
/* line 325, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.ui-datepicker a {
  color: #fff;
  text-decoration: none;
}
/* line 328, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.ui-datepicker a:hover {
  cursor: pointer;
}
/* line 331, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.ui-datepicker a.ui-datepicker-prev {
  float: left;
}
/* line 332, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.ui-datepicker a.ui-datepicker-next {
  float: right;
}
/* line 334, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.ui-datepicker .ui-datepicker-title {
  text-align: center;
  display: block;
}
/* line 336, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.ui-datepicker table td, .ui-datepicker table th {
  padding: 1px 3px;
}
/* line 337, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.ui-datepicker table td {
  border: none;
}

/* line 342, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table.dashboard {
  width: 100%;
}
/* line 344, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table.dashboard td {
  border-bottom: none;
}
/* line 345, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
table.dashboard .dashboard_section {
  background: #f4f4f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #dddddd;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
  margin-bottom: 20px;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
table.dashboard .dashboard_section h3 {
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5e6469;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
table.dashboard .dashboard_section h3 span.icon svg path, table.dashboard .dashboard_section h3 span.icon svg polygon, table.dashboard .dashboard_section h3 span.icon svg rect, table.dashboard .dashboard_section h3 span.icon svg circle {
  fill: #5e6469 !important;
}
/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
table.dashboard .dashboard_section h3 span.icon {
  width: 1em;
  height: 1em;
}
/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_icons.scss */
table.dashboard .dashboard_section h3 span.icon svg {
  width: 1em;
  height: 1em;
}
/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
table.dashboard .dashboard_section h3 span.icon {
  margin-right: 5px;
}
/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin/mixins/_sections.scss */
table.dashboard .dashboard_section > div {
  padding: 3px 15px 15px 15px;
}

/* line 350, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.attributes_table {
  overflow: hidden;
}

/* line 353, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.attributes_table table th, .attributes_table table td {
  padding: 8px 12px 6px 12px;
  vertical-align: top;
  border-bottom: 1px solid #e8e8e8;
}
/* line 358, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.attributes_table table th {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
  width: 150px;
  font-size: 0.9em;
  padding-left: 0;
  text-transform: uppercase;
  color: #5e6469;
  text-shadow: white 0 1px 0;
}
/* line 369, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.attributes_table table td .empty {
  color: #bbb;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* line 378, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.sidebar_section .attributes_table th {
  width: 50px;
}

/* line 382, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.status {
  background: #cacaca;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;
}
/* line 390, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.status.published, .status.complete, .status.completed, .status.green {
  background: #8daa92;
}
/* line 391, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.status.error, .status.errored, .status.red {
  background: #d45f53;
}

/* line 396, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.scopes {
  float: left;
  margin-bottom: 10px;
  font-size: 1.0em;
}
/* line 401, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.scopes .scope {
  padding: 4px 8px 3px 8px;
  margin-right: 4px;
}
/* line 404, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.scopes .scope a {
  text-decoration: none;
  font-weight: bold;
  color: #888;
}
/* line 405, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.scopes .scope a:hover {
  text-decoration: underline;
}
/* line 406, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.scopes .scope.selected {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 #cccccc;
  -moz-box-shadow: inset 0 1px 0 #cccccc;
  -webkit-box-shadow: inset 0 1px 0 #cccccc;
  text-shadow: white 0 1px 0;
  background: #efefef;
  color: #666;
}
/* line 412, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.scopes .scope.selected em {
  font-weight: bold;
  font-style: normal;
}
/* line 415, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.scopes .scope .count {
  color: #aaa;
  font-size: 0.9em;
}
/* line 417, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.scopes .scopes_seperator {
  display: none;
}

/* line 421, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.columns {
  clear: both;
  padding: 0;
}
/* line 424, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.2.2/lib/active_admin/stylesheets/active_admin.scss */
.columns .column {
  float: left;
}
