/* 960 Grid System ~ Core CSS.
 * Learn more ~ http://960.gs/
 * *
 * Licensed under GPL and MIT. */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, ../../app/stylesheets/grid.sass */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 32, ../../app/stylesheets/grid.sass */
html {
  background-color: #282828;
  background-image: url("../images/carbon_fibre.gif");
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html html, html body, html div, html span, html applet, html object, html iframe,
html h1, html h2, html h3, html h4, html h5, html h6, html p, html blockquote, html pre,
html a, html abbr, html acronym, html address, html big, html cite, html code,
html del, html dfn, html em, html img, html ins, html kbd, html q, html s, html samp,
html small, html strike, html strong, html sub, html sup, html tt, html var,
html b, html u, html i, html center,
html dl, html dt, html dd, html ol, html ul, html li,
html fieldset, html form, html label, html legend,
html table, html caption, html tbody, html tfoot, html thead, html tr, html th, html td,
html article, html aside, html canvas, html details, html embed,
html figure, html figcaption, html footer, html header, html hgroup,
html menu, html nav, html output, html ruby, html section, html summary,
html time, html mark, html audio, html video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html body {
  line-height: 1;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html ol, html ul {
  list-style: none;
}
/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html caption, html th, html td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html q, html blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html q:before, html q:after, html blockquote:before, html blockquote:after {
  content: "";
  content: none;
}
/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html a img {
  border: none;
}
/* line 115, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html article, html aside, html details, html figcaption, html figure,
html footer, html header, html hgroup, html menu, html nav, html section {
  display: block;
}

/* line 38, ../../app/stylesheets/grid.sass */
body {
  background: url("../images/building.png") no-repeat bottom right;
}

/* line 41, ../../app/stylesheets/grid.sass */
#container, #header, #footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

/* line 46, ../../app/stylesheets/grid.sass */
#header {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  color: white;
  padding: 20px 0 0 0;
  margin-bottom: 30px;
}
/* line 51, ../../app/stylesheets/grid.sass */
#header h1 a {
  color: white;
  text-decoration: none;
  font-size: 20pt;
  line-height: 23pt;
  font-weight: 300;
}
/* line 59, ../../app/stylesheets/grid.sass */
#header h1 a img {
  position: relative;
  top: 4px;
}

/* line 62, ../../app/stylesheets/grid.sass */
#menu {
  float: right;
}
/* line 64, ../../app/stylesheets/grid.sass */
#menu li {
  display: inline;
  position: relative;
}
/* line 68, ../../app/stylesheets/grid.sass */
#menu li a {
  color: #dddddd;
  text-decoration: none;
  margin-left: 10px;
  padding: 3px 10px 3px 10px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
/* line 76, ../../app/stylesheets/grid.sass */
#menu li a:hover {
  color: white;
  background-color: #444444;
}
/* line 105, ../../app/stylesheets/grid.sass */
#menu li ul.subnav {
  list-style: none;
  position: absolute;
  left: 0;
  top: 15pt;
  display: none;
  float: left;
  z-index: 999;
  background-color: black;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  width: 150px;
}
/* line 119, ../../app/stylesheets/grid.sass */
#menu li ul.subnav li a {
  margin-top: 10px;
  display: block;
}

/* line 124, ../../app/stylesheets/grid.sass */
body#index a#index, body#team a#team, body#affiliations a#affiliations, body#services a#services, body#faq a#faq {
  background-color: #555555;
}

/* line 127, ../../app/stylesheets/grid.sass */
#header_seperator {
  display: none;
  background-color: #cc0000;
}
/* line 130, ../../app/stylesheets/grid.sass */
#header_seperator h2 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  color: #ffdddd;
  font-size: 13pt;
  font-weight: lighter;
  line-height: 20pt;
}

/* line 137, ../../app/stylesheets/grid.sass */
#container {
  background-color: #666666;
  -moz-box-shadow: black 0 10px 100px;
  -webkit-box-shadow: black 0 10px 100px;
  -o-box-shadow: black 0 10px 100px;
  box-shadow: black 0 10px 100px;
  min-height: 400px;
}
/* line 143, ../../app/stylesheets/grid.sass */
#container h1 {
  font-size: 50px;
  font-weight: 200;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* line 150, ../../app/stylesheets/grid.sass */
#container h2 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  width: 400px;
}
/* line 155, ../../app/stylesheets/grid.sass */
#container h2 .important {
  font-weight: bold;
}
/* line 157, ../../app/stylesheets/grid.sass */
#container #content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 159, ../../app/stylesheets/grid.sass */
#container #content h4 {
  font-weight: bold;
  font-size: 130%;
}
/* line 162, ../../app/stylesheets/grid.sass */
#container #content h5 {
  font-style: italic;
}

/* line 165, ../../app/stylesheets/grid.sass */
body#index #container {
  background: black url(../images/map.png) top left no-repeat;
  color: white;
}

/* line 169, ../../app/stylesheets/grid.sass */
.before_after {
  float: right;
}

/* line 172, ../../app/stylesheets/grid.sass */
#bio {
  float: right;
}

/* line 176, ../../app/stylesheets/grid.sass */
#maincontent {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
}
/* line 178, ../../app/stylesheets/grid.sass */
#maincontent p {
  text-indent: 20pt;
  margin-top: 20px;
}

/* line 183, ../../app/stylesheets/grid.sass */
ul#services li, ul#faq li {
  font-size: 40px;
  font-weight: 200;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* line 191, ../../app/stylesheets/grid.sass */
ul#services li ul li, ul#faq li ul li {
  font-size: 14pt;
  margin: 0 0 5px 40px;
}

/* line 196, ../../app/stylesheets/grid.sass */
#footer {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  color: #dddddd;
}
/* line 199, ../../app/stylesheets/grid.sass */
#footer h2 {
  font-size: 20pt;
  font-weight: 200;
}

/* line 203, ../../app/stylesheets/grid.sass */
#request_quote, .submit {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  background: white;
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
}
/* line 224, ../../app/stylesheets/grid.sass */
#request_quote:hover, .submit:hover {
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 );
  background: linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
}
/* line 233, ../../app/stylesheets/grid.sass */
#request_quote:active, .submit:active {
  background: #e5e5e5;
  background: -moz-linear-gradient(top, #e5e5e5 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 );
  background: linear-gradient(top, #e5e5e5 0%, #e5e5e5 100%);
}

/* line 243, ../../app/stylesheets/grid.sass */
#superbox {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 247, ../../app/stylesheets/grid.sass */
#superbox p.close {
  cursor: pointer;
}
/* line 251, ../../app/stylesheets/grid.sass */
#superbox label {
  width: 300px;
}
/* line 253, ../../app/stylesheets/grid.sass */
#superbox form {
  margin-bottom: 50px;
}

/* line 256, ../../app/stylesheets/grid.sass */
#quote {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}

/* line 259, ../../app/stylesheets/grid.sass */
label {
  text-align: right;
}

/* line 261, ../../app/stylesheets/grid.sass */
label, input, textarea, select {
  font-size: 14pt;
  margin-top: 20px;
}

/* line 264, ../../app/stylesheets/grid.sass */
input, textarea, select {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 268, ../../app/stylesheets/grid.sass */
input:hover, textarea:hover, input:focus, textarea:focus {
  border-color: #c9c9c9;
}

/* line 271, ../../app/stylesheets/grid.sass */
input, textarea {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

/* line 276, ../../app/stylesheets/grid.sass */
#contact {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
/* line 278, ../../app/stylesheets/grid.sass */
#contact p {
  font-size: 14pt;
  margin-top: 20px;
}
