/* line 2, ../../app/stylesheets/style.sass */
h2 {
  font-size: 10pt;
}

/* line 5, ../../app/stylesheets/style.sass */
.team_member, .partner, .answer, .service, .team_members_no_bio {
  background-color: white;
  border: 1px solid #cccccc;
  margin: 0 0 40px;
}
/* line 8, ../../app/stylesheets/style.sass */
.team_member tr, .partner tr, .answer tr, .service tr, .team_members_no_bio tr {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 22, ../../app/stylesheets/style.sass */
.team_member p, .partner p, .answer p, .service p {
  color: #444444;
  line-height: 24px;
  margin-bottom: 20px;
  font-size: 12px;
}

/* line 28, ../../app/stylesheets/style.sass */
.partner {
  background: no-repeat top left white;
  background-size: 400px;
  padding-left: 400px;
  padding-right: 20px;
}
/* line 33, ../../app/stylesheets/style.sass */
.partner h1 {
  font-size: 15pt;
}
/* line 35, ../../app/stylesheets/style.sass */
.partner h1 a {
  color: black;
  text-decoration: none;
  font-size: 17pt;
}
/* line 39, ../../app/stylesheets/style.sass */
.partner img.logo {
  float: left;
}

/* line 51, ../../app/stylesheets/style.sass */
.team_member, .service, .partner {
  min-height: 320px;
}
/* line 53, ../../app/stylesheets/style.sass */
.team_member .photo, .service .photo, .partner .photo {
  width: 200px;
  display: block;
}

/* line 62, ../../app/stylesheets/style.sass */
.team_member .photo {
  vertical-align: bottom;
}
/* line 64, ../../app/stylesheets/style.sass */
.team_member .bio, .team_member .on_the_web {
  vertical-align: top;
}

/* line 67, ../../app/stylesheets/style.sass */
.team_member {
  padding: 30px 260px 10px;
}
/* line 71, ../../app/stylesheets/style.sass */
.team_member .bio p.position {
  font-weight: 300;
  font-size: 20pt;
}
/* line 74, ../../app/stylesheets/style.sass */
.team_member .on_the_web {
  width: 200px;
  font-size: 13px;
}
/* line 77, ../../app/stylesheets/style.sass */
.team_member .on_the_web h2 {
  font-size: 20px;
  color: black;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  max-width: 200px;
  width: 200px;
}

/* line 86, ../../app/stylesheets/style.sass */
.on_the_web li {
  font-size: 13px;
  margin-bottom: 10px;
}
/* line 89, ../../app/stylesheets/style.sass */
.on_the_web li a {
  margin: 0 0 15px;
  padding: 0 0 0 20px;
  line-height: 16px;
  text-decoration: none;
}
/* line 94, ../../app/stylesheets/style.sass */
.on_the_web li.email a {
  background: url(../images/email-icon.jpg) left center no-repeat;
}
/* line 96, ../../app/stylesheets/style.sass */
.on_the_web li.linkedin a {
  background: url(../images/linkedin_icon.png) left center no-repeat;
}
/* line 98, ../../app/stylesheets/style.sass */
.on_the_web li.facebook a {
  background: url(../images/facebook_icon.png) left center no-repeat;
}

/* line 101, ../../app/stylesheets/style.sass */
.team_members_no_bio {
  padding: 20px;
}
/* line 103, ../../app/stylesheets/style.sass */
.team_members_no_bio .team_member_no_bio {
  margin-bottom: 20px;
}
/* line 105, ../../app/stylesheets/style.sass */
.team_members_no_bio .team_member_no_bio h3 {
  margin-top: 0;
  font-size: 20pt;
}

/* line 110, ../../app/stylesheets/style.sass */
.service h1, .service ul {
  margin-left: 20px;
}
/* line 112, ../../app/stylesheets/style.sass */
.service ul {
  list-style-type: circle;
}
/* line 123, ../../app/stylesheets/style.sass */
.service table {
  width: 100%;
}
/* line 125, ../../app/stylesheets/style.sass */
.service table td {
  width: 50%;
  vertical-align: top;
}
/* line 128, ../../app/stylesheets/style.sass */
.service table td.illustration {
  text-align: right;
  align: right;
}

/* line 133, ../../app/stylesheets/style.sass */
.answer {
  padding: 10px 20px 0 20px;
  margin: 0;
}

/* line 137, ../../app/stylesheets/style.sass */
#faqs {
  position: relative;
}
/* line 139, ../../app/stylesheets/style.sass */
#faqs div {
  width: 500px;
}

/* line 142, ../../app/stylesheets/style.sass */
#faqs h3 {
  font-size: 20px;
  line-height: 20px;
  color: #b3b3b3;
  clear: both;
  font-weight: 300;
  margin: 20px 0 5px 0;
  cursor: pointer;
}
/* line 150, ../../app/stylesheets/style.sass */
#faqs h3:hover {
  color: #cccccc;
}
/* line 152, ../../app/stylesheets/style.sass */
#faqs h3.active {
  color: white;
}
/* line 154, ../../app/stylesheets/style.sass */
#faqs h3 div {
  position: relative;
}

/* line 157, ../../app/stylesheets/style.sass */
#filter {
  display: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}

/* line 165, ../../app/stylesheets/style.sass */
body#coming_soon #menu, body#coming_soon a#request_quote {
  display: none;
}
/* line 167, ../../app/stylesheets/style.sass */
body#coming_soon #container {
  background-color: black;
}
/* line 169, ../../app/stylesheets/style.sass */
body#coming_soon #container #content {
  text-align: center;
}
/* line 171, ../../app/stylesheets/style.sass */
body#coming_soon #container #content h1 {
  color: white;
  font-size: 80pt;
  font-weight: 200;
}
/* line 175, ../../app/stylesheets/style.sass */
body#coming_soon #container #content h2 {
  font-size: 30pt;
  color: white;
  width: 100%;
  display: block;
}
