/* 960 Grid System ~ Core CSS.
 * Learn more ~ http://960.gs/
 * *
 * Licensed under GPL and MIT.


@import compass/reset
@import 960/grid
@import compass/css3

// The following generates the default grids provided by the css version of 960.gs
// .container_12
// 	+grid-system(12)
// 
// .container_16
// 	+grid-system(16)

// But most compass users prefer to construct semantic layouts like so (two column layout with header and footer):

$ninesixty-columns: 24
$red: #cc0000
$offwhite: #ddd

.clear 
	clear: both
	display: block
	overflow: hidden
	visibility: hidden
	width: 0
	height: 0

html
	+global-reset
	background-color: #282828 
	background-image: url('../images/carbon_fibre.gif')
	font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif

body
	background: url('../images/building.png') no-repeat bottom right

#container, #header, #footer
	padding-top: 20px
	padding-bottom: 20px
	margin: 0 auto

#header
	+grid-container
	color: white
	padding: 20px 0 0 0
	margin-bottom: 30px
	h1 a
		color: white
		text-decoration: none
		font-size: 20pt
		line-height: 23pt
		font-weight: 300
		&:hover
			
		img
			position: relative
			top: 4px
#menu
	float: right		
	li
		display: inline
		float:right
		position: relative
		a
			color: $offwhite
			text-decoration: none
			margin-left: 10px
			padding: 3px 10px 3px 10px
			-moz-border-radius: 13px
			-webkit-border-radius: 13px
			border-radius: 13px
			&:hover
				color: white
				background-color: #444
	// ul.topnav 
	// 	list-style: none
	// 	padding: 0 20px
	// 	margin: 0
	// 	float: left
	// 	width: 920px
	// 	background: #222
	// 	font-size: 1.2em
	// 	background: url(topnav_bg.gif) repeat-x
	// 
	// ul.topnav li 
	// 	float: left
	// 	margin: 0
	// 	padding: 0 15px 0 0
	// 	position: relative // --Declare X and Y axis base for sub navigation
	// 
	// ul.topnav li a
	// 	padding: 10px 5px
	// 	color: #fff
	// 	display: block
	// 	text-decoration: none
	// 	float: left
	// 
	// ul.topnav li a:hover
	// 	background: url(topnav_hover.gif) no-repeat center top
	
	li ul.subnav 
		list-style: none
		// --Important - Keeps subnav from affecting main navigation flow
		position: absolute
		left: 0 
		top: 15pt
		display: none
		float: left
		z-index: 999
		background-color: black
		-moz-border-radius: 13px
		-webkit-border-radius: 13px
		border-radius: 13px
		width: 150px
		li a
			margin-top: 10px
			display: block

					
body#index a#index, body#team a#team, body#affiliations a#affiliations, body#services a#services, body#faq a#faq
	background-color: #555
					
#header_seperator
	display: none
	background-color: $red	
	h2
		+grid-container
		color: #fdd
		font-size: 13pt
		font-weight: lighter
		line-height: 20pt

#container
	// background-color: #F2F0E9
	background-color: #666
	// CHANGE COLOR OF BACKGROUND
	+box-shadow(black 0 10px 100px)
	min-height: 400px
	h1
		font-size: 50px
		font-weight: 200
		line-height: 40px
		margin:
			top: 20px
			bottom: 30px
	h2
		font-size: 15px
		line-height: 30px
		font-weight: 300
		width: 400px
		.important
			font-weight: bold
	#content
		+grid-container
		h4
			font-weight: bold
			font-size: 130%
		h5
			font-style: italic

body#index #container
	background: black url(../images/map.png) top left no-repeat
	color: white

.before_after
	float: right

#bio
	float: right
	
	
#maincontent
	+grid(16)
	p
		text-indent: 20pt
		margin-top: 20px

ul#services, ul#faq
	li
		font-size: 40px
		font-weight: 200
		line-height: 40px
		margin:
			top: 20px
			bottom: 30px
		ul
			li
				font-size: 14pt
				margin: 0 0 5px 40px


#footer
	+grid-container
	color: $offwhite
	h2
		font-size: 20pt
		font-weight: 200

#request_quote, .submit
	color: black
	text-decoration: none
	display: inline-block
	padding: 5px 10px 6px 10px
	font-weight: bold
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5)
	border: 1px solid rgba(0,0,0,0.4)
	border-radius: 5px
	-moz-border-radius: 5px
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5)
	-webkit-border-radius: 5px
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5)
	background: rgb(255,255,255) /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ) /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) /* W3C */
	&:hover
		background: rgb(247,247,247) /* Old browsers */
		background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%) /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1))) /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%) /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%) /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%) /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ) /* IE6-9 */
		background: linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%) /* W3C */
	&:active
		background: rgb(229,229,229) /* Old browsers */
		background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 100%) /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(229,229,229,1))) /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(229,229,229,1) 100%) /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(229,229,229,1) 100%) /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(229,229,229,1) 100%) /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ) /* IE6-9 */
		background: linear-gradient(top, rgba(229,229,229,1) 0%,rgba(229,229,229,1) 100%) /* W3C */

#superbox
	border-radius: 5px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	p.close
		cursor: pointer
	.submit
		float:right
	label
		width: 300px
	form
		margin-bottom: 50px

#quote
	+grid(12)

label
	text-align: right
label, input, textarea, select
	font-size: 14pt
	margin-top: 20px
input, textarea, select
	+border-radius(5px)
	// width: 250px

input:hover, textarea:hover, input:focus, textarea:focus
	border-color: #C9C9C9

input, textarea
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px

#contact
	+grid(12)
	p
		font-size: 14pt
		margin-top: 20px