
h2
  font-size: 10pt

.team_member, .partner, .answer, .service, .team_members_no_bio
  background-color: white
  border: 1px solid #CCC
  tr
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    border-radius: 6px
  margin: 0 0 40px

.team_member, .partner, .answer, .service
  // h1
  //   font-size: 200px
  //   color: blue
  //   line-height: 30px
  //   color: black
  //   clear: both
  //   font-weight: 300
  p
    color: #444
    line-height: 24px
    margin-bottom: 20px  
    font-size: 12px

.partner
  background: no-repeat top left white
    size: 400px
  padding-left: 400px  
  padding-right: 20px
  h1
    font-size: 15pt
    a
      color: black
      text-decoration: none
      font-size: 17pt
  img.logo
    float: left
  &.even
    img.logo
      // float: right
    .photo img
      // left: 8px
  &.odd
    // padding-left: 20px
    // padding-right: 400px
    // background-position: top right

.team_member, .service, .partner
  min-height: 320px
  .photo
    width: 200px
    display: block
    img
      //position: absolute
      //right: 8px
      //bottom: 0

.team_member
  .photo
    vertical-align: bottom
  .bio, .on_the_web
    vertical-align: top

.team_member
  padding: 30px 260px 10px
  .bio
    p
      &.position
        font-weight: 300
        font-size: 20pt
  .on_the_web
    width: 200px
    font-size: 13px
    h2
      font-size: 20px
      color: black
      line-height: 30px
      font-weight: 300
      margin-bottom: 20px
      max-width: 200px
      width: 200px

.on_the_web li
  font-size: 13px
  margin-bottom: 10px
  a
    margin: 0 0 15px
    padding: 0 0 0 20px
    line-height: 16px
    text-decoration: none
  &.email a
    background: url(../images/email-icon.jpg) left center no-repeat
  &.linkedin a
    background: url(../images/linkedin_icon.png) left center no-repeat
  &.facebook a
    background: url(../images/facebook_icon.png) left center no-repeat

.team_members_no_bio
  padding: 20px
  .team_member_no_bio
    margin-bottom: 20px
    h3
      margin-top: 0
      font-size: 20pt      

.service
  h1, ul
    margin-left: 20px
  ul
    list-style-type: circle
  // &.even
    ul
      float: right
    h1
      margin-right: 20px
      text-align: right
      color: red
    img
      float: left
  table 
    width: 100%
    td
      width: 50%
      vertical-align: top
      &.illustration
        text-align: right
        align: right
      

.answer
  padding: 10px 20px 0 20px
  margin: 0

#faqs
  position: relative
  div
    width: 500px

#faqs h3
  font-size: 20px
  line-height: 20px
  color: darken(white, 30%)
  clear: both
  font-weight: 300
  margin: 20px 0 5px 0
  cursor: pointer
  &:hover
    color: darken(white, 20%)
  &.active
    color: white
  div
    position: relative

#filter
  display: none
  font-size: 20px
  padding: 5px
  border-radius: 10px
  

body#coming_soon
  #menu, a#request_quote
    display: none
  #container
    background-color: black
    #content
      text-align: center
      h1
        color: white
        font-size: 80pt
        font-weight: 200
      h2
        font-size: 30pt
        color: white
        width: 100%
        display: block