-@no_info = []

-@affiliations.each do |affiliate|
  -if affiliate.logo && affiliate.screenshot
    %table.partner{:class => cycle('even', 'odd')}
      %tr
        %td.photo
          =link_to (image_tag affiliate.screenshot, :width => 400), affiliate.url
        %td
          %h1
            %a{:href=>affiliate.url}=affiliate.name
          %p=affiliate.description
          =link_to image_tag(affiliate.logo, {:class => 'logo'}), affiliate.url
        .clear
  -else
    - @no_info << affiliate

-unless @no_info.empty?
  .partner{:style => 'padding-left: 20px'}
    -@no_info.each do |affiliate|
      %h2
        %a{:href=>affiliate.url}=affiliate.name.titlecase