%div.before_after
	%div=image_tag('before.jpg', :alt => 'before', :height => '460px', :width => '469px')
	%div=image_tag('after.jpg', :alt => 'after', :height => '460px', :width => '469px')

%h1 We Restore Buildings
-#%h2 American Restoration Inc. is a national remedial and restoration contractor. We work closely with consultants, architects, engineers, and owners in assisting with design review, forensic investigation, specification writing, and implementation. We hold one of the highest ratings with both the Government Services Administration and the Texas Historical Society.

%h2.ar_description 
	AMERICAN RESTORATION INC is a 
	%span.important trusted partner 
	in the 
	%span.important commercial building remediation 
	and 
	%span.important restoration 
	industry.  As a specialty contractor, clients have utilized our 
	%span.important 25+ years experience
	in 
	%span.important waterproofing, garage and exterior building repair. 
	No matter the size or scope of your project, ARI has the financial resources and the resident expertise to bring your building back to original specifications. Be a part of the American Restoration story and become one of our many satisfied customers.

.clear