%h2 Request More Information
=form_tag do
	=label 'name', :name
	=text_field_tag :name
	.clear
	=label 'title', :title
	=text_field_tag :title
	.clear
	=label 'company', :company
	=text_field_tag :company
	.clear
	=label 'email', :email
	=text_field_tag :email
	.clear
	=label 'phone', :phone
	=text_field_tag :phone
	.clear
	=label 'description', :description
	=text_area_tag :description
	=submit_tag "Send this Project Request"