-if @service
	%section.service{:class => cycle('odd', 'even')}
		%table
			%tr
				%td
					%h1=@service.name						
			%tr
				%td.content=BlueCloth.new(@service.description).to_html.html_safe
				%td.illustration
					-if @service.illustration && !@service.illustration.empty?
						=BlueCloth.new(@service.illustration).to_html.html_safe
					-elsif @service.slides
						-@service.slides.each do |s| 
							=link_to(image_tag(s.image.url(:thumb)), s.image.url(:large), class: 'fancybox', rel: "#{@service.name.parameterize}_gallery", title: s.description)
-elsif @services
	-@services.each do |service|
		%section.service{:class => cycle('odd', 'even')}
			%table
				%tr
					%td
						%h1=service.name						
				%tr
					%td.content=BlueCloth.new(service.description).to_html.html_safe
					%td.illustration
						-if service.illustration && !service.illustration.empty?
							=BlueCloth.new(service.illustration).to_html.html_safe
						-elsif service.slides
							-service.slides.each do |s| 
								=link_to(image_tag(s.image.url(:thumb)), s.image.url(:large), class: 'fancybox', rel: "#{service.name.parameterize}_gallery", title: s.description)

				