-@team_members.each do |team_member|
	-next unless team_member.bio && !team_member.bio.empty?
	%table.team_member{:id => team_member.aka, :class => cycle('odd', 'even')}
		%tr
			%td.photo
				=image_tag team_member.photo, :class => 'bio'
			%td.bio
				%h1=team_member.name
				%p.position=team_member.position
				%p=team_member.bio
			%td.on_the_web
				%h2 On the Web
				%ul
					-if team_member.email_address && !team_member.email_address.empty?
						%li.email
							=link_to team_member.email_address, "mailto:#{team_member.email_address}"
					-if team_member.linked_in_url && !team_member.linked_in_url.empty?
						%li.linkedin
							=link_to team_member.name, team_member.linked_in_url
					-if team_member.facebook_url && !team_member.facebook_url.empty?
						%li.facebook
							=link_to team_member.name, team_member.facebook_url

.team_members_no_bio
	-@team_members.each do |team_member|
		-next if team_member.bio && !team_member.bio.empty?
		.team_member_no_bio{:id => team_member.aka}
			.name
				%h3=team_member.name
				%p.position=team_member.position
			.on_the_web
				%ul
					-if team_member.email_address && !team_member.email_address.empty?
						%li.email
							=link_to team_member.email_address, "mailto:#{team_member.email_address}"
					-if team_member.linked_in_url && !team_member.linked_in_url.empty?
						%li.linkedin
							=link_to team_member.name, team_member.linked_in_url
					-if team_member.facebook_url && !team_member.facebook_url.empty?
						%li.facebook
							=link_to team_member.name, team_member.facebook_url