<style type="text/css">
.slideshow {
/*  position:absolute;*/
/*  top:15px;*/
/*  left:4px;*/
/*  z-index:100;*/
	font-size: 9pt;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:400px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:400px;
	height:270px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/slideshow/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}
</style>

<div class="slideshow">
				<div class="slides_container">
					<div class="slide">
						<a href="http://www.flickr.com/photos/jliba/4665625073/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"><img src="images/exterior_slideshow/GLASS REPLACEMENT - HEIGHTS MEDICAL - HOUSTON, TX 1.JPG" width="400" height="270" alt="Slide 1"></a>
						<div class="caption" style="bottom:0">
							<p>Heights Medical in Houston Glass Replacement 1</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="images/exterior_slideshow/GLASS REPLACEMENT - HEIGHTS MEDICAL - HOUSTON.JPG" width="400" height="270" alt="Slide 2"></a>
						<div class="caption">
							<p>Heights Medical in Houston Glass Replacement 2</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/childofwar/2984345060/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="images/exterior_slideshow/GLASS REPLACEMENT - ONE SHELL SQUARE - NEW ORLEANS, LA 1.jpg" width="400" height="270" alt="Slide 3"></a>
						<div class="caption">
							<p>One Shell Square, New Orleans Glass Replacement 1</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/b-tal/117037943/" title="We Eat Light | Flickr - Photo Sharing!" target="_blank"><img src="images/exterior_slideshow/GLASS REPLACEMENT - ONE SHELL SQUARE - NEW ORLEANS, LA.JPG" width="400" height="270" alt="Slide 4"></a>
						<div class="caption">
							<p>One Shell Square, New Orleans Glass Replacement 2</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/bu7amd/3447416780/" title="&ldquo;I must go down to the sea again, to the lonely sea and the sky; and all I ask is a tall ship and a star to steer her by.&rdquo; | Flickr - Photo Sharing!" target="_blank"><img src="images/exterior_slideshow/GLASS REPLACEMENT - SAM GIBBONS - TAMPA BAY, FL.JPG" width="400" height="270" alt="Slide 5"></a>
						<div class="caption">
							<p>Sam Gibbons, Tampa Bay, FL Glass Replacement</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/streetpreacher/2078765853/" title="twelve.inch | Flickr - Photo Sharing!" target="_blank"><img src="images/exterior_slideshow/GLASS REPLACEMENT - WYNDHAM HOTEL - NEW ORLEANS.JPG" width="400" height="270" alt="Slide 6"></a>
						<div class="caption">
							<p>Syndham Hotel, New Orleans Glass Replacement</p>
						</div>
					</div>
				</div>
        <!-- <a href="#" class="prev"><img src="images/slideshow/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
        <a href="#" class="next"><img src="images/slideshow/arrow-next.png" width="24" height="43" alt="Arrow Next"></a> -->
			</div>