%html
  %head
    %title American Restoration
    = stylesheet_link_tag 'normalize.css', :media => 'screen, projection'
    / = stylesheet_link_tag :all
    = stylesheet_link_tag 'grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'style.css', :media => 'screen, projection'
    =# stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.12.custom.css', :media => 'screen, projection'
    =# stylesheet_link_tag 'jquery.superbox.css', :media => 'screen, projection'
    =# javascript_include_tag :defaults, 'jquery-ui-1.8.12.custom.min', 'jquery.beforeafter', 'jquery.superbox-min.js', 'slides.min.jquery.js', 'jquery.fancybox-1.3.4.pack.js', 'app'
    =# javascript_include_tag :defaults
    = javascript_include_tag 'jquery', 'menu' #, 'jquery-ujs'
    -if action_name == 'index'
      = javascript_include_tag 'jquery-ui'
      = javascript_include_tag 'jquery.beforeafter'
      :javascript
        $(document).ready(function(){
          $('.before_after').beforeAfter({
            animateIntro: true,
            showFullLinks: false,
            introPosition: .55,
            imagePath: '/javascripts/beforeafter/js/'
          });
        });
    -elsif action_name =~ /faq/
      = javascript_include_tag 'faq'
    -elsif action_name =~ /services?$/
      = stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.4.css'
      = javascript_include_tag 'jquery.fancybox-1.3.4.pack.js'
      :javascript
        $(document).ready(function(){
          $("a.fancybox").fancybox({
             'transitionIn'  : 'elastic',
             'transitionOut' : 'elastic',
             'titlePosition' : 'over'
           });
        });

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29241458-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body.two-col{:id => params[:action]}
    -if params[:action] == 'index'
      %span.under_construction{style: 'background-color: black; color: #888; display: block'}
        Welcome to our new site, this site is still under construction.
    #header
      %ul#menu
        %li=# link_to "comingsoon", {:action => 'coming_soon'}, {:id => 'coming_soon'}
        %li= link_to "home", {:action => 'index'}, {:id => 'index'}
        %li= link_to "team", {:action => 'team'}, {:id => 'team'}
        %li.supernav
          = link_to "our network", {:action => 'affiliations'}, {:id => 'affiliations'}
          %ul.subnav
            -@affiliate_categories.each do |category|
              %li=link_to category, "/affiliates/#{category.parameterize}.html"
        %li.supernav
          = link_to "services", {:action => 'services'}, {:id => 'services'}
          %ul.subnav
            -@services.each do |service|
              %li
                =link_to service.name, "/services/#{service.name.parameterize}.html"
        %li= link_to "faq", {:action => 'faq'}, {:id => 'faq'}
      %h1 
        %a{:href => root_url}
          #{image_tag 'A.png', :height => '40pt'}merican Restoration<sup style='vertical-align:super;font-size:50%'>inc.</sup>
    #header_seperator
      %h2 a trusted partner in commercial building, remediation, and restoration
    #container
      #content
        = yield
    #footer
      #contact
        -#%a{:href => '#request_quote_form', :rel => 'superbox[content][600x500]', :id => 'request_quote'} Request a Quote
        %a{:href => 'mailto:bruce@aricorp.net', :id => 'request_quote'} Request a Quote
        %p 2002 W. Kirby Street
        %p Wylie, TX 75098-4926
        %p toll free: 1-800.551.8870
        %p phone: 972.429.8830
        %p fax: 972.429.8869
        %br
        =link_to image_tag('facebook_button.png', :height => '60px'), 'http://www.facebook.com/pages/Ari-corp/230758756935858'
        =link_to image_tag('linkedin_button.png', :height => '60px'), 'http://www.linkedin.com/company/1603601'
      
      -#%a(href="http://www.ari-cat.com/")=image_tag "ARI-CATlogo.png"
      =link_to image_tag("ARI-CATlogo.png"), '/services/catastrophic.html'
      .clear

    =form_tag 'request_quote',  :id => 'request_quote_form', :style => 'display:none' do |f|
      =label :iama, 'I am a(n)'
      = select_tag "iama", options_for_select(["Property Owner", "Property Management Company", "Consultant", "Engineer", "Other"])
      .clear
      =label :iama, 'I have a(n)'
      = select_tag "iama", options_for_select(["project pending an need a quote", "issue but not sure if I should engage a consultant or engineer", "budget and would like to scope a future project", "interest in learning more about your services and capabilities"])
      .clear
      =text_field_tag :name
      =label 'name', :name
      .clear
      =text_field_tag :title
      =label 'title', :title
      .clear
      =text_field_tag :company
      =label 'company', :company
      .clear
      =email_field_tag :email
      =label 'email', :email
      .clear
      =phone_field_tag :phone
      =label 'phone', :phone
      .clear
      =text_area_tag :description
      =label 'description', :description
      .clear
      =check_box_tag :interested
      =label_tag :interested, 'I want to be updated on ARI customer events or seminars'
      .clear
      =submit_tag "Send", :class => 'submit'
      .clear